p {
    color: orangered;
   /* background-image: url("paper.gif");*/
}

div {
    background-image: url("http://goo.gl/04j7Nn");
    height: 100px;
    width: 300px;
}

#x {
    background-image: url("http://www.pink-pussy-pics.com/imgdir/pinkpussy/red-fox-pink-pussy.jpg");
    height: 100px;
    width: 300px;
}
#dif{
    background-color: orangered;
    color: black;
    border: dashed black 2px;
}
